#animationBg {
    position: relative;
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

.circle {
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    background: #0f0;
    box-shadow: 0 0 10px #00ff00,
    0 0 20px #0f0,
    0 0 30px #0f0,
    0 0 50px #0f0;
    border-radius: 50%;
    animation: animate 5s linear forwards;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        /*transform: translateY(0);*/
        opacity: 1;
    }
    100% {
        transform: translateY(-250vh);
        opacity: 0;
    }
}

.circle:before {
    content: '';
    position: absolute;
    top: 80%;
    left: 25%;
    width: 50%;
    height: 100vh;
    opacity: 0.5;
    background: linear-gradient(#0f0,transparent);
}